html {
  inline-size: max-content;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: hsl(212, 45%, 89%);
  font-family: "Outfit", sans-serif;
}
.container {
  width: 1440px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.card {
  width: 330px;
  height: 500px;
  background-color: #ffff;
  border-radius: 20px;
}
figure img {
  width: 300px;
  border-radius: 10px;
}
figure {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}
h1 {
  text-align: center;
  font-size: 20px;
  color: hsl(218, 44%, 22%);

  font-weight: 700px;
}
p {
  font-size: 15px;
  text-align: center;
  color: hsl(220, 15%, 55%);
  font-weight: 400px;
}
.txt-container {
  width: 230px;
  margin: auto;
}
